
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}




header{
    background: #F0FFF0;
    height: 576px;
}
nav{
    display: flex;
    justify-content: space-around;
}
.navbar{
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 173px;
}

.logo img{
    width: 100%;

}
.menu{
    display: flex;
    column-gap: 40px;
    /* width: 40%; */
    align-items: center;
    justify-content: space-evenly;

}
.items a{
    text-decoration: none;
    color: black;
}
.last-a a{
    width: 104px;
height: 43px;
background: #21B573;
border-radius: 33px;
display: flex;
align-items: center;
    justify-content: center;
    color: white;
}

.header-text{
    width: 50%;

}



.section-1{
display: flex;
justify-content: center;
height: 500px;
    align-items: center;
}
.header-section{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.s-text p{
    font-weight: 400;
    font-size: 16px;
    color: #FD511A;
    margin-bottom: 0;
}
.heading h1{
    font-weight: 700;
font-size: 48px;
margin-top: 10px;
}
.heading span{
    color: #21B573;
}
.header-info{
    width: 403px;
height: 85px;
}
.header-info p{
    font-weight: 400;
    font-size: 16px;
    color: #6C6B6B;
}
.header-btn{
    width: 153px;
height: 43px;
background: #21B573;
border-radius: 33px;
display: flex;
align-items: center;
justify-content: center;
}
.header-btn a{
    text-decoration: none;
    color: white;
    font-weight: 400;
font-size: 16px;
}

.header-img{
    width: 50%;
}
.header-img img{
    width: 100%;
}




.topic{
    width: 270px;
height: 270px;
background: #F8FFFB;
border-radius: 10px;
display: flex;
    
    flex-direction: column;
    justify-content: center;
}
.topic:hover{
    background: #FFFFFF;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}


.topic-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.topic-img img{
    width: 66px;
height: 85px;
}
.topic-title h3{
width: 100%;
text-align: center;
}
.topic-info p{
width: 100%;
text-align: center;
}
.topic-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    margin-top: 42px;
}
.section-2{
   
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}




.topic2{
    width: 370px;
height: 483px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
border-radius: 18px;
    align-items: center;
}

.topic-img2 img{
    width: 331px;
height: 234px;
margin-top: 24px;
}
.header-text2{
    width: 90%;

}
.heading h3{
    font-weight: 500;
font-size: 24px;
margin-bottom: 0;
}
.header-info2 p{
    margin-top: 0;
}
.time{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 34px;
}
.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
  .section-3 h1{
    font-weight: 700;
font-size: 36px;
  }  

.course{
   width: 80%;
   display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}




.text-area{
    display: flex;

}
.man{
    width: 150px;
    height: 150px;
}
.man img {
    width: 100%;
}
.pra{
    width: 500px;
    margin-left: 50px;
}
.section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.d-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
}
footer{
    background-color: black;
    color: white;
    height: 399px;
    margin-top: 120px;
}
/* .cour{
    margin-left: 50px;
} */
.grid-text{
    width: 500px;
}

.grid-text p{
    width: 380px;
}
.copy{
    text-align: center;
    margin: 0;
    margin-top: 50px;
}
.position{
    position: absolute;
}
.section-4 h1{
    font-weight: 700;
font-size: 36px;
}